@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.ttf') format('truetype'),
         url('../fonts/lato-regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.tTtf') format('truetype'),
         url('../fonts/lato-bold.svg#latobold') format('svg');
    font-weight: bold;
    font-style: normal;

}
/*-------------------------*/
/*----- GLOBAL RESET -----*/
/*-------------------------*/
button,
html [type="button"],
[type="reset"],
[type="submit"], input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
body { font-family: 'Lato', 'sans-serif'; font-size: 16px; line-height: 1.13; background: #fff; color: #212121; margin: 0; padding: 0; }
html, body{ height: 100%; }
* { -moz-box-sizing: border-box; box-sizing: border-box; }
a:focus, input:focus { outline: none !important; }
a { color: #212121; }
img { border: none; max-width: 100%; }
.wrapper { min-height: 100%; background-color: #f5f5f5; margin-left: 390px; }
.content { padding: 30px 30px 60px; overflow: hidden; }
.float-left { float: left; }
.float-right { float: right; }
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
/*----- sub reset -----*/
.main-nav ul,
.footer-aside-nav ul,
.category-list,
.social-list { margin: 0; padding: 0; list-style: none; }
/*----- form-style -----*/
input[type="submit"] { background: #55bca6; color: #fff; font-size: 14px; font-weight: bold; border: none; line-height: 50px; cursor: pointer; }
.checkbox input { display: none; }
.checkbox label { display: inline-block; width: 25px; height: 25px; border: 1px solid #e0e0e0; background: #fff; cursor: pointer; text-align: center; font-size: 11px; padding: 4px 0 0 1px; }
.checkbox label .fa { display: none; color: #fff; }
.checkbox input:checked + label { background: #55bca6; border: 1px solid #55bca6; }
.checkbox .new-selected-item input:checked + label { background: #37474f; border: 1px solid #37474f; }
.checkbox input:checked + label .fa { display: inline-block; }
::-webkit-input-placeholder { color: #212121; opacity: 1; }
::-moz-placeholder { color: #212121; opacity: 1; }
:-moz-placeholder { color: #212121; opacity: 1; }
:-ms-input-placeholder { color: #212121; opacity: 1; }
:focus::-webkit-input-placeholder { color: transparent; opacity: 1; }
:focus::-moz-placeholder { color: transparent; opacity: 1; }
:focus:-moz-placeholder { color: transparent; opacity: 1; }
:focus:-ms-input-placeholder { color: transparent; opacity: 1; }
/*-------------------------*/
/*----- HEADER -----*/
/*-------------------------*/
header.header { background: url(../images/backgrounds/header-bg.jpg) no-repeat 50% 50%; -webkit-background-size: cover; background-size: cover; padding: 35px 30px 0; height: 121px; position: relative; }
.h-search { position: relative; }
.h-search input { background: transparent; color: #fff; border: none; width: 100%; font-size: 19px; padding: 0 30px 12px 10px; border-bottom: 1px solid #55bca6; margin-bottom: 10px; }
.h-search input::-webkit-input-placeholder { color: #fff; font-size: 19px; }
.h-search input::-moz-placeholder { color: #fff; font-size: 19px; }
.h-search input:-moz-placeholder { color: #fff; font-size: 19px; }
.h-search input:-ms-input-placeholder { color: #fff; font-size: 19px; }
.h-search input:focus::-webkit-input-placeholder { color: transparent; }
.h-search input:focus::-moz-placeholder { color: transparent; }
.h-search input:focus:-moz-placeholder { color: transparent; }
.h-search input:focus:-ms-input-placeholder { color: transparent; }
.h-search-btn { color: #fff; position: absolute; right: 10px; cursor: pointer; top: 2px; font-size: 19px; background: none; padding: 0; border:  none; }
.h-search-btn.mobile { font-size: 24px; display: none; }
.h-search .description { text-align: center; color: #fff; font-size: 14px; }
.header-mobile { display: none; }
/*-------------------------*/
/*----- NEWS STYLES -----*/
/*-------------------------*/
.news-outer { text-align: center; }
.news-wrapper { margin: 0 -15px; }
.col { padding: 0 15px; float: left; width: 25%; }
.news-item { margin: 0 0 30px; overflow: hidden; position: relative; }
.news-item .img-link::before { position: absolute; content: '';  top: 0; left: 0; right: 0; bottom: 0; background: -moz-linear-gradient(top, rgba(33,33,33,0) 0%, rgba(33,33,33,1) 100%); background: -webkit-linear-gradient(top, rgba(33,33,33,0) 0%,rgba(33,33,33,1) 100%);  background: linear-gradient(to bottom, rgba(33,33,33,0) 0%,rgba(33,33,33,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00212121', endColorstr='#212121',GradientType=0 ) }
.news-item:hover .img-link::before { background: rgba(33,33,33,.8); }
.news-item img { width: 100%; height: auto; display: block; }
.news-item-description { position: absolute; bottom: 0; left: 0; right: 0; color: #fff; padding: 0 20px 23px; text-align: left; }
.news-item-description .fa { color: #55bca6; margin-right: 3px; }
.news-item a { color: #fff; text-decoration: none; }
.news-item-description .news-categories a::after { content: ','; }
.news-item-description .news-categories div div:last-child a::after { display: none; }
.most-popular-news .news-item-description .news-categories.mobile { display: none !important; }
.most-popular-news .news-item-description .news-categories.desktop { display: block !important; }
.news-categories a:hover { text-decoration: underline; }
.news-categories div { display: inline-block; }
.news-categories.mobile { display: none; }
.news-categories { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.news-categories.desktop { max-width: 270px; }
.news-item-list .fa { color: #55bca6; margin-right: 3px; }
.news-item-list > div { display: inline-block; font-size: 14px; vertical-align: middle; margin-right: 18px; }
.news-item .news-header { font-size: 21px; font-weight: bold; text-transform: uppercase; margin: 0 0 12px; display: inline-block; }
.news-item-list > div:last-child { margin-right: 0; }
.news-item-list .news-comments div { display: inline-block; }
/*-------------------------*/
/*----- SIDEBAR -----*/
/*-------------------------*/
.aside-overlay { position: fixed; left: 0; right: 0; top: 0; bottom: 0; background: rgba(0,0,0,.5); }
.sidebar { position: fixed; z-index: 9; left: 0; top: 0; bottom: 0; width: 390px; background: #fff;  -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.scroll-wrapper { padding: 120px 0 190px; position: relative; height: 100%; }
.logo { position: absolute; top: 30px; left: 25px; width: 270px; }
.logo img { width: 100%; }
.main-nav { height: 100%; overflow: auto; }
.main-nav ul li { position: relative; border-bottom: 1px solid #eee; }
.main-nav ul li a:not(.settings) { text-transform: uppercase; text-decoration: none; font-size: 16px; display: block; padding: 16px 30px 14px 51px; border-left: 4px solid transparent; white-space: nowrap; }
.main-nav.settings-showed ul li a:not(.settings) { width: 0; }
.main-nav ul li a:not(.settings):hover { border-left: 4px solid #55bca6; }
.main-nav ul li:first-child { border-top: 1px solid #eee; }
.main-nav ul li a.is-active { border-left: 4px solid #55bca6; }
.main-nav ul li a:not(.settings) .fa { position: absolute; font-size: 15px; left: 25px; top: 50%; color: #55bca6; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); }
.main-nav ul li:first-child a:not(.settings) { margin-right: 70px; }
.main-nav ul li .settings { position: absolute; right: 30px; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); font-size: 15px; color: #757575; }
.main-nav ul li a.s { font-size: 14px; }
.main-nav ul li a.m { font-size: 15px; }
.main-nav ul li a.l { font-size: 16px; }
/*------------------------*/
.main-nav .checkbox { position: absolute; right: 25px; top: 50%; margin-top: -12.5px; display: none; }
.corner-top { border: 10px solid transparent; border-bottom-color: #fff; position: absolute; right: 27px; bottom: -1px; display: none; }
.main-nav .settings-description { font-size: 14px; color: #424242; padding: 0 26px; margin-bottom: 15px; display: none; }
.main-nav .nav-wrapper { margin-bottom: 15px; }
.main-nav .btn-wrapper { padding: 0 25px; display: none; }
.main-nav input[type="submit"] { width: 100%; }
.main-nav input[type="submit"]:hover { background: #4da592; }
.main-nav input[type="submit"]:disabled, 
.popup-submit-btn input:disabled { background: #ccc !important; }
.home-feed-forms { overflow: auto; }
.settings-showed .checkbox { display: block; }
.settings-showed .corner-top { display: block; }
.settings-showed ul li:first-child { background: #55bca6; }
.settings-showed ul li:first-child a:not(.settings) { color: #fff; }
.settings-showed ul li:first-child a:not(.settings) .fa { color: #fff; }
.settings-showed .settings-description { display: block; }
.settings-showed .btn-wrapper { display: block; }
/*------------------------*/
.footer-aside-nav { padding-left: 25px; position: absolute; left: 0; bottom: 30px; }
.footer-aside-nav ul li { padding: 3px 0; }
.footer-aside-nav ul li a { text-decoration: none; font-size: 14px; }
.footer-aside-nav ul li a:hover { text-decoration: underline; }
.footer-aside-nav ul li .fa { color: #55bca6; font-size: 10px; margin-right: 5px; }
.footer-aside-nav ul { margin-bottom: 15px; }
.copyright { font-size: 12px; }
.copyright a { color: #55bca6; text-decoration: none; }
.most-popular-news .col { width: 100%; }
/*-------------------------*/
/*----- SLICK SLIDER -----*/
/*-------------------------*/
.slider { overflow: hidden; margin-bottom: 0px !important; }
.slider  img { display: block; width: 100%; height: auto; }
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    width: 100%;
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #212121;
    border: none;
    outline: none;
    background: #fff;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'fontawesome';
    font-size: 16px;
    line-height: 1;
    opacity: .75;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 0;
    z-index: 9;
}
.slick-prev:before
{
    content: '\f053';
}
.slick-next
{
    right: 0;
}
.slick-next:before
{
    content: '\f054';
}

.slick-dots
{
    position: absolute;
    bottom: 17px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: #fff;
}
.slick-dots li.slick-active button {
    background: #55bca6;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}

/*-------------------------*/
/*----- NEWS DETAIL -----*/
/*-------------------------*/
.news-detail-outer { overflow: hidden; margin: 0 -15px; }
.news-detail { width: 77.7%; padding: 0 15px; float: left; text-align: left; }
.news-detail-content { padding: 25px; background: #fff; margin-bottom: 29px;  }
.news-detail-content img { max-width: 100%; }
.news-detail-content:after { content: ''; display: block; clear: both; }
.category-list li { display: inline-block; margin: 0 6px 10px 0; }
.category-list li:last-child { margin-right: 0; }
.category-list li a { float: left; padding: 7px 12px; font-size: 14px; background: #55bca6; color: #fff; text-decoration: none; text-transform: uppercase; }
.category-list li .add-category-btn { float: left; padding: 0; height: 29px; background: #37474f; text-align: center; color: #fff; line-height: 30px; width: 30px; }
.news-detail .news-header h1 { font-size: 26px; margin: 6px 0 2px; }
.news-text { line-height: 21px; color: #424242; }
.news-text p { margin: 10px 0; }
.news-detail .news-item-list { margin-bottom: 17px; }
.social-share { border-top: 1px solid #eee; padding-top: 25px; margin-top: 25px; }
.social-share .like { margin-right: 10px; float: left; }
.social-share .like .not-liked, .social-share .like .liked { float: left; width: 30px; height: 30px; background: #55bca6; color: #fff; text-align: center; line-height: 30px; margin-right: 8px; font-size: 14px; }
.social-share .like .liked { opacity: .5; }
.social-share .like .like-counter { float: left; border: 1px solid #eee; padding: 0 6px; height: 30px; color: #55bca6; position: relative; line-height: 30px; font-size: 14px; }
.social-share .like .like-counter::before { content: ''; position: absolute; width: 7px; height: 7px; border-left: 1px solid #eee; border-top: 1px solid #eee; left: -5px; background: #fff; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); top: 10px; }
.social-share .share .share-toggle-btn { float: left; background: #37474f; height: 30px; line-height: 30px; font-size: 14px;
color: #fff; text-decoration: none; text-transform: uppercase; padding: 0 12px; }
.social-share .share .share-toggle-btn .fa { margin-left: 3px; }
.social-share .social-list li { display: inline-block; }
.social-share .share { position: relative; float: left; }
.social-share .share:after { content: ''; clear: both; display: block; }
.social-share .social-list { background: #55bca6; position: absolute; left: 86px; top: 0; visibility: hidden; opacity: 0; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; width: 208px;  }
.social-share .share.active .social-list  { visibility: visible; opacity: 1;}
.social-share .social-list li a { line-height: 30px; display: block; height: 100%; color: #fff; width: 27px; text-align: center; font-size: 14px; text-decoration: none; } 
.social-share .social-list li a:hover { background: #4da592; }
/*------- MOST POPULAR NEWS -------*/
.most-popular-news { padding: 0 15px; text-align: left; }
.most-popular-news { float: right; width: 22.3%; }
.most-popular-news .news-item { width: 100%; margin-left: 0; margin-bottom: 20px; }
.most-popular-header { margin: 0 0 20px; font-size: 21px; text-transform: uppercase; padding-left: 12px; border-left: 5px solid #55bca6; }
.most-popular-news .news-item-description { padding: 0 15px 14px; }
.most-popular-news .news-item .news-header { margin-bottom: 7px; font-size: 16px; }
.field--name-field-source { float: right; }
.field--name-field-source { float: right; font-size: 14px; margin-top: 6px; }
.field--name-field-source a { color: #55bca6; text-decoration: none; }
.field--name-field-source a:hover { text-decoration: underline; }
.field--name-field-source > div { display: inline-block; }
.category-list li a:hover, .social-share .like a:hover { background: #4da592; }
.social-share .share .share-toggle-btn:hover, .category-list li .add-category-btn:hover, .social-share .share.active .share-toggle-btn  { background: #263238; }
/*-------------------------*/
/*----- STATIC PAGE -----*/
/*-------------------------*/
.field--name-body:after { display: block; clear: both; content: ''; }
.static-page { background: #fff; padding: 25px; }
.static-page-title { margin-top: 0; margin-bottom: 16px; font-size: 26px; line-height: 21px; }
.static-page-content { font-size: 16px; color: #424242; }
.static-page-content .align-left, .news-detail-content .align-left { margin: 0 20px 10px 0; }
.static-page-content .align-right, .news-detail-content .align-right { margin: 0 0 10px 20px; }
.static-page-content blockquote p, .news-text blockquote p { margin: 0; }
.static-page-content blockquote, .news-text blockquote { padding: 5px 0 5px 18px; clear: both; border-left: 3px solid #4da592; font-style: italic; margin: 0; }
.static-page-content video, .static-page-content img, .static-page-content iframe, .news-text video, .news-text img, .news-text iframe { max-width: 100%; }
.static-page-content ol, .news-text ol { list-style: none; }
.static-page-content ol li, .news-text ol li {   counter-increment: count-me; position: relative; }
.static-page-content ol li::before, .news-text ol li::before {  content: counter(count-me) ". "; position: absolute; left: -15px; top: 0; color: #55bca6; }
.static-page-content ul, .news-text ul { list-style: none; }
.static-page-content ul li, .news-text ul li { position: relative; }
.static-page-content a, .news-text a { color: #55bca6; text-decoration: none; }
.static-page-content a:hover, .news-text a:hover { text-decoration: underline; }
.static-page-content ul li::before, .news-text ul:not(.social-list) li::before { content: '\f101'; font-family: 'fontawesome'; position: absolute; left: -14px; color: #55bca6; top: 0; }
.static-page-content h1, .news-text h1 { font-size: 32px; margin-top: 0; }
.static-page-content h2, .news-text h2 { font-size: 26px; margin-top: 0; }
.static-page-content h3, .news-text h3 { font-size: 21px; margin-top: 0; }
.static-page-content h4, .news-text h4 { font-size: 19px; margin-top: 0; }
.static-page-content h5, .news-text h5 { font-size: 17px; margin-top: 0; }
.static-page-content h6, .news-text h6 { font-size: 15px; margin-top: 0; }
/*-------------------------*/
/*----- 404, 403 -----*/
/*-------------------------*/
.page-error { height: 100%; background: #55bca6; display: table; width: 100%; padding: 10px; }
.page-error .img-block { display: inline-block; margin-bottom: 27px; margin-left: -29px; }
.page-error .img-block img { max-width: 100%; }
.page-error-content { display: table-cell; vertical-align: middle; text-align: center; }
.page-error-number { font-size: 90px; font-weight: bold; color: #263238; }
.page-error h1 { font-size: 26px; color: #fff; margin: 0 0 6px; }
.page-error .description { font-size: 16px; color: #263238; margin-bottom: 47px; }
.page-error .description p { margin: 0; font-weight: bold; }
.back-to-home-btn a { display: inline-block; background: #263238; color: #fff; font-size: 16px; font-weight: bold; text-transform: uppercase; padding: 15px 25px; text-decoration: none; }
.back-to-home-btn a:hover { background: #37474f; }
/*-------------------------*/
/*----- POP UP -----*/
/*-------------------------*/
#sliding-popup { position: fixed; top: 0; left: 320px; background: #55bca6 !important; min-height: 121px; width: auto !important; right: 0; padding: 27px 0; }
#sliding-popup .popup-content { max-width: none; padding: 0 30px; }
#sliding-popup .popup-content #popup-buttons button.agree-button { display: inline-block; font-weight: bold; text-transform: uppercase; color: #fff; text-decoration: none; background: #263238; padding: 15px; margin-left: 17px; border: none; border-radius: 0; text-shadow: none; box-shadow: none; -webkit-box-shadow: none; margin-top: 7px; float: right; font-size: 16px; }
#sliding-popup .popup-content #popup-buttons button.find-more-button { display: inline-block; border: 1px solid #fff; color: #fff; text-transform: uppercase; padding: 14px 16px; text-decoration: none; background-color: transparent; border-radius: 0; text-shadow: none; background: transparent; box-shadow: none; -webkit-box-shadow: none; margin-top: 7px; font-size: 16px; }
.customization-popup { background: #fff; position: absolute;  -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); top: 50%; left: 50%; }
#sliding-popup .popup-content #popup-text p { color: #263238 !important; font-size: 16px; }
#sliding-popup .popup-content #popup-text h2 { font-size: 18px; }
.customization-popup .form-checkboxes > div { float: left; width: 50%; margin-bottom: 15px; }
.customization-form { max-height: 215px; overflow: auto; margin: 0 -20px; padding: 0 20px; }
.customization-popup { color: #212121; width: 420px; margin: 0 auto; padding: 12px 20px; overflow: hidden; }
.ui-dialog .ui-dialog-title { display: none; }
.popup-submit-btn input { width: 100%; }
.popup-header h3 { font-size: 26px; color: #55bca6; margin: 0; margin-bottom: 3px; font-weight: normal; }
.popup-header { padding: 0 20px; margin: 0 -20px; border-bottom: 1px solid #eee; padding-bottom: 16px; letter-spacing: -1.1px; }
.popup-description { font-size: 14px; }
.customization-popup .form-checkboxes { font-size: 16px; padding: 15px 0 0; overflow: hidden; }
.customization-popup .form-checkboxes label { position: relative; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding-left: 40px; display: block; line-height: 25px; cursor: pointer; }
.customization-popup .form-checkboxes label::before { content: ''; position: absolute; left: 0; top: 0; width: 22px; height: 23px; border: 1px solid #e0e0e0 ; } 
.customization-popup .form-checkboxes label::after { content: '\f00c'; position: absolute; left: 0; top: 0; width: 22px; height: 23px; font-family: 'fontawesome'; line-height: 23px; text-align: center; font-size: 11px; color: #fff; display: none; }
.customization-popup .form-checkboxes input:checked + label::before { background: #55bca6; border: 1px solid #55bca6; }
.customization-popup .form-checkboxes input:checked + label::after { display: block; }
.popup-submit-btn { padding: 20px 20px 0; border-top: 1px solid #eee; margin: 0 -20px; }
.popup-submit-btn input { text-transform: uppercase; font-size: 16px; font-weight: bold; }
.popup-submit-btn input:hover { background: #4da592; }
.fancybox-overlay { background: rgba(33,33,33,.7); }
.fancybox-skin { padding: 0 !important; }
.fancybox-skin { border-radius: 0; }
/*-------------------------*/
/*----- Drupal classes -----*/
/*-------------------------*/
#contact-message-contact-form-form label, #user-login-form label { display: inline-block; width: 200px; }
#contact-message-contact-form-form input[type="text"], #contact-message-contact-form-form input[type="email"], #user-login-form input[type="text"], #user-login-form input[type="password"] { height: 30px; padding: 0 10px; }
#user-login-form .description { margin: 5px 0 20px; font-size: 14px; }
#contact-message-contact-form-form textarea { margin-top: 10px; padding: 10px; width: 607px; resize: none; }
#contact-message-contact-form-form .form-item { margin-bottom: 10px; }
.feed-icon-outer { overflow: hidden; padding: 7px 15px 7px; margin-top: -30px; }
.node--type-page header { display: none; }
.adminimal-admin-toolbar #block-news-portal-branding { position: absolute; top: 25px; }
.adminimal-admin-toolbar .sidebar { top: 0; }
.adminimal-admin-toolbar .block-core ul, .nav-tabs { list-style: none; padding-left: 0; }
.adminimal-admin-toolbar .block-core ul li, .nav-tabs li { display: inline-block; margin-right: 5px; margin-bottom: 5px; }
.adminimal-admin-toolbar .block-core a, .nav-tabs li a { color: #fff; background: #55bca6; display: block; padding: 5px 15px; text-decoration: none; }
.adminimal-admin-toolbar .block-core a:hover, .nav-tabs li a:hover { background: #4da592; }
.customization-popup .form-checkboxes input[type="checkbox"] { display: none; }
.ui-dialog .ui-dialog-titlebar { display: none; }
.ui-dialog { padding: 0; }
.ui-dialog .ui-dialog-content { padding: 0; position: static; min-height: auto !important; max-height: none !important; }
.ui-dialog .ui-dialog-titlebar-close { position: absolute; margin-top: 0; top: 10px; right: 10px; cursor: pointer; z-index: 99; }
.ui-widget-content { background: transparent !important; }
.ui-dialog { width: auto !important; overflow: auto !important; background-color: transparent !important; left: 0 !important; right: 0 !important; bottom: 0 !important; top: 0 !important; border: none; }
.feed-icon { display: block; font-size: 18px; text-transform: uppercase; text-decoration: none; }
.feed-icon:after { display: inline-block; content: '\f143'; font-family: 'fontawesome'; margin-left: 5px; color: #55bca6; }
.ui-widget-overlay { background: rgba(33,33,33,.7); opacity: 1; }
#backtotop { background: #00BFA5; border-radius: 50%; opacity: 0.8; }
.ajax-progress, .ajax-progress-throbber { display: none !important; }
#backtotop:after { width: 25px; height: 25px; border-top: 2px solid #fff; border-right: 2px solid #fff; position: absolute; top: 29px; left: 23px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); content: ''; }
.ajax-progress-fullscreen { position: abdolute; background-image: url(/themes/news_portal/images/site/loading.gif); left: 390px; bottom: 10px; top: auto; right: 0; height: 60px; background-color: transparent; -webkit-background-size: 200px; background-size: 200px; width: auto; }
/*-------------------------*/
/*----- MEDIA QUERIES -----*/
/*-------------------------*/
@media screen and ( max-width: 2559px ) {
    header.header { padding: 35px 30px 0 }
    .col { width: 33.3333%; }
    .sidebar { width: 320px; }
    .wrapper { margin-left: 320px; }
    .ajax-progress-fullscreen { left: 320px; }
}
@media screen and ( max-width: 1919px ) {
    .news-item-description { padding-bottom: 17px; }
    .most-popular-news .news-item .news-header { font-size: 16px; }
    .news-item .news-header { font-size: 18px; }
}
@media screen and ( max-width: 1600px ) {
    .news-detail { width: 65%; }
    .most-popular-news { width: 35%; }
}
@media screen and ( max-width: 1599px ) {
    .news-item .news-header { font-size: 16px; }
}
@media screen and ( max-width: 1540px ) {
    #sliding-popup .popup-content #popup-buttons button.find-more-button,
    #sliding-popup .popup-content #popup-buttons button.agree-button { font-size: 12px; }
    .news-categories.desktop { display: block; }
}
@media screen and ( max-width: 1439px ) {
    .most-popular-news .news-item { margin-bottom: 30px; }
    .btn-wrapper a { font-size: 14px; padding: 10px 12px; }
    .cookies-popup .btn-wrapper .confirm { margin-left: 3px; }
}

@media screen and ( max-width: 1365px ) {
    .adminimal-admin-toolbar .scroll-wrapper { padding-top: 115px; }
    .news-detail { width: 100%; }
    .most-popular-news { width: 100%; }
    .most-popular-news .col { width: 33.3333%; }
    .news-categories.mobile { display: block; margin-bottom: 9px; }
    .scroll-wrapper { height: auto; min-height: 100%; }
    .sidebar { overflow: auto; }
    .customization-popup { -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); top: 30px; }
    .customization-form { max-height: none; }
    .ajax-progress-fullscreen { left: 0; }
    .scroll-wrapper { padding-top: 100px; }
    .sidebar { width: 420px; -webkit-transform: translateX(-420px); -ms-transform: translateX(-420px); -o-transform: translateX(-420px); transform: translateX(-420px); }
    .sidebar.active { -webkit-transform: translateX(0px); -ms-transform: translateX(0px); -o-transform: translateX(0px); transform: translateX(0px); }
    .logo { top: 20px; }    
    .feed-icon-outer { margin-top: -15px; }
    #sliding-popup { left: 0; }
    .most-popular-news .news-item { margin-bottom: 20px; }.wrapper { margin-left: 0; }
    .h-search-btn.mobile { display: block; top: 0px; right: 2px; }
    .h-search-btn.desktop { display: none; }
    .h-search { display: none; }
    .header-mobile { color: #fff; }
    .header-mobile a { color: #fff; }
    .header-mobile .page-is span { text-align: center; text-transform: uppercase; font-weight: bold; display: block; font-size: 28px; margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0 10px; }
    .menu-toggle-btn { float: left; }
    .mobile-search-show { float: right; }
    .mobile-search-show a { font-size: 24px; }
    .menu-toggle-btn { font-size: 29px; }
    .content { padding: 20px 20px 60px; }
    header.header { height: 101px; padding: 34px 25px 0; }
    .header-mobile { display: block; }
    .search-show .header-mobile { display: none; }
    .search-show .h-search { display: block; }
    .h-search .description { display: none; }
    .col { padding:  0 10px; }
    .news-wrapper { margin: 0 -10px; }
    .news-item { margin-bottom: 20px; }
    
}
@media screen and ( max-width: 1279px ) {

}
@media screen and ( max-width: 1023px ) {
    .most-popular-news .col { width: 50%; }
    .news-item .news-header { font-size: 18px; }
    .most-popular-news .news-item .news-header { font-size: 18px; }
    .col { width: 50%; }
    .cookies-popup .description span { font-size:  }
    #sliding-popup .popup-content #popup-buttons button.agree-button { float: none; }
}
@media screen and ( max-width: 889px ) {
    .most-popular-news .col { width: 50%; }
    .most-popular-news .news-wrapper { margin: 0 -10px; }
    .most-popular-news .col { padding: 0 10px; }
}
@media screen and ( max-width: 767px ) {
    .most-popular-news .news-item .news-header { font-size: 14px; }
    .news-item .news-header { font-size: 14px; }
    .adminimal-admin-toolbar .sidebar .scroll-wrapper { padding-top: 100px; }
    #sliding-popup .popup-content #popup-text h2 { font-size: 14px; }
    #sliding-popup .popup-content #popup-text p { font-size: 12px; }
    .content { padding: 20px 20px 60px; }
    .news-item { margin-bottom: 20px; }
    .scroll-wrapper { padding-top: 79px; }
    .sidebar { width: 280px; -webkit-transform: translateX(-280px); -ms-transform: translateX(-280px); -o-transform: translateX(-280px); transform: translateX(-280px); }
    .sidebar.active { -webkit-transform: translateX(0px); -ms-transform: translateX(0px); -o-transform: translateX(0px); transform: translateX(0px); }
    .logo { width: 225px; top: 15px; left: 15px; }
    .main-nav ul li .settings { right: 21px; }
    .main-nav ul li a:not(.settings) .fa { left: 15px; }
    .main-nav ul li a:not(.settings) { padding-left: 41px; }
    .corner-top { right: 17px; }
    .main-nav .checkbox { right: 15px; }
    .footer-aside-nav { padding-left: 14px; }
    header.header { height: 81px; padding: 25px 20px 0; }
    .news-item-description { padding: 0 16px 14px; }
    .news-item .news-header { margin-bottom: 9px; }
}
@media screen and ( max-width: 639px ) {
    #contact-message-contact-form-form textarea { width: 100%; }
    #contact-message-contact-form-form input[type="text"], #contact-message-contact-form-form input[type="email"], #user-login-form input[type="text"], #user-login-form input[type="password"] { width: 100%; }
    .news-detail-content { padding: 16px; }
    .news-detail .news-header h1 { font-size: 21px; margin-top: 0; }
    .slick-prev, .slick-next { width: 30px; height: 30px; }
    .slick-prev::before, .slick-next::before { font-size: 12px; }
    .social-share .share .share-toggle-btn span { display: none; }
    .social-share .share .social-list { left: 30px; width: 180px; }
    .news-text { padding-bottom: 0; margin-bottom: 16px; }
    .social-share .like .like-counter { display: none; }
    .social-share .like a { margin-right: 0; }
    .social-share .share .share-toggle-btn .fa { margin-left: 0; }
    .social-share .share .share-toggle-btn { padding: 0 9px; }
    .social-share .social-list li a { width: 23px; }
    .news-detail-content { margin-bottom: 23px; }
    .most-popular-header { margin-bottom: 16px; }
    .most-popular-news .news-item { margin-bottom: 15px; }
    .col { width: 100%; }
    .most-popular-news .col { width: 100%; }
    .page-error .img-block { max-width: 200px; }
    .page-error-number { font-size: 70px; line-height: 70px; }
    .page-error h1 { font-size: 21px; }
    .page-error .img-block { margin-bottom: 9px; margin-left: -10px; }
}
@media screen and ( max-width: 600px ) {
    .customization-popup { width: 280px; }
    #sliding-popup .popup-content #popup-buttons button.find-more-button, 
    #sliding-popup .popup-content #popup-buttons button.agree-button { margin: 5px; }
    .page-error .description { margin-bottom: 30px; }
    .customization-popup .form-checkboxes > div { width: 100%; }
}